<footer>
			<div class="container center bg-near-white pv4 ph3 ph5-m ph6-l mid-gray avenir">
				<ul class="footer-columns list pl0 cf ph0-ns">
          <li class="about list pl0 fl w-100 w-40-l pa2">
        <h4>Yupy Store</h4>
        <ul class="list pl0 lh-copy measure-narrow">jasa | service | software | hardware</ul>
      </li>


					<li class="footer-nav fl w-100 w-20-l pa2">
						<h4>General</h4>
						<ul class="list pl0 lh-copy">
							<li><a href="/">Products</a></li>
							<li><a href="/about/">About</a></li>
							<li><a href="https://blog.zufan.me/">Blog</a></li>
						</ul>
					</li>

					<li class="footer-nav fl w-100 w-20-l pa2">
						<h4>Help</h4>
						<ul class="list pl0 lh-copy">
							<li><a href="/support/">Support</a></li>
							<li><a href="/privacy/">Privacy</a></li>
							<li><a href="/faq/">FAQ</a></li>
						</ul>
					</li>

					<li class="footer-nav fl w-100 w-20-l pa2">
  <h4>Contact</h4>
  <ul class="list pl0 lh-copy">
  <li>Need help with something?</li>
  <li><a href="/contact/">Get in touch</a>.</li>
  <br>
  <div class="social-icons">
<!--<a class="GitHub dim" href="https://github.com/zufan-yp">{% include social-icon.html icon="GitHub" %}</a>
    <a class="facebook dim" href="https://github.com/zufan-yp">{% include social-icon.html icon="Facebook" %}</a>
    <a class="twitter dim" href="https://github.com/zufan-yp">{% include social-icon.html icon="Twitter" %}</a>
    <a class="pinterest dim" href="https://github.com/zufan-yp">{% include social-icon.html icon="Pinterest" %}</a>
    <a class="linkedin dim" href="https://github.com/zufan-yp">{% include social-icon.html icon="LinkedIn" %}</a>-->
    <a class="Email" href="mail:zufan.ramadhan@gmail.com">{% include social-icon.html icon="Email" %}</a>
    <a class="Discord" href="https://discordapp.com/users/392908561119969290">{% include social-icon.html icon="Discord" %}</a>	  
    <a class="Telegram dim" href="https://t.me/yupysyntax">{% include social-icon.html icon="Telegram" %}</a>
    <a class="Instagram dim" href="https://instagram.com/@yupy.store">{% include social-icon.html icon="Instagram" %}</a>
    <a class="RSS dim" href="/products.xml">{% include social-icon.html icon="RSS" %}</a>
  </div>
  </ul>
</li>
</ul>
<p class="copyright black-40 f7 f6 tc-l">All Rights Reserved &copy; {{ site.time | date: '%Y' }} {{ site.title }}, Inc. Theme design by <a href="https://shop.zufan.me">Yupyn.</a></p>
</div>
</footer>
